@use '@scss/color.scss' as *;
@use '@scss/mixin.scss' as *;

.app-top {
  @include black-bg(1);
  @include white(1);

  display: flex;
  align-item: center;
  justify-content: center;
  height: 0.1rem;
}
