
@keyframes gradient {
  0% {
    background: linear-gradient(
      135deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
  10% {
    background: linear-gradient(
      135deg,
      rgba(255, 154, 0, 1) 0%,
      rgba(208, 222, 33, 1) 10%,
      rgba(79, 220, 74, 1) 20%,
      rgba(63, 218, 216, 1) 30%,
      rgba(47, 201, 226, 1) 40%,
      rgba(28, 127, 238, 1) 50%,
      rgba(95, 21, 242, 1) 60%,
      rgba(186, 12, 248, 1) 70%,
      rgba(251, 7, 217, 1) 80%,
      rgba(255, 0, 0, 1) 90%,
      rgba(255, 154, 0, 1) 100%
    );
  }
  20% {
    background: linear-gradient(
      135deg,
      rgba(208, 222, 33, 1) 0%,
      rgba(79, 220, 74, 1) 10%,
      rgba(63, 218, 216, 1) 20%,
      rgba(47, 201, 226, 1) 30%,
      rgba(28, 127, 238, 1) 40%,
      rgba(95, 21, 242, 1) 50%,
      rgba(186, 12, 248, 1) 60%,
      rgba(251, 7, 217, 1) 70%,
      rgba(255, 0, 0, 1) 80%,
      rgba(255, 154, 0, 1) 90%,
      rgba(208, 222, 33, 1) 100%
    );
  }
  30% {
    background: linear-gradient(
      135deg,
      rgba(79, 220, 74, 1) 0%,
      rgba(63, 218, 216, 1) 10%,
      rgba(47, 201, 226, 1) 20%,
      rgba(28, 127, 238, 1) 30%,
      rgba(95, 21, 242, 1) 40%,
      rgba(186, 12, 248, 1) 50%,
      rgba(251, 7, 217, 1) 60%,
      rgba(255, 0, 0, 1) 70%,
      rgba(255, 154, 0, 1) 80%,
      rgba(208, 222, 33, 1) 90%,
      rgba(79, 220, 74, 1) 100%
    );
  }
  40% {
    background: linear-gradient(
      135deg,
      rgba(63, 218, 216, 1) 0%,
      rgba(47, 201, 226, 1) 10%,
      rgba(28, 127, 238, 1) 20%,
      rgba(95, 21, 242, 1) 30%,
      rgba(186, 12, 248, 1) 40%,
      rgba(251, 7, 217, 1) 50%,
      rgba(255, 0, 0, 1) 60%,
      rgba(255, 154, 0, 1) 70%,
      rgba(208, 222, 33, 1) 80%,
      rgba(79, 220, 74, 1) 90%,
      rgba(63, 218, 216, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      135deg,
      rgba(47, 201, 226, 1) 0%,
      rgba(28, 127, 238, 1) 10%,
      rgba(95, 21, 242, 1) 20%,
      rgba(186, 12, 248, 1) 30%,
      rgba(251, 7, 217, 1) 40%,
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 154, 0, 1) 60%,
      rgba(208, 222, 33, 1) 70%,
      rgba(79, 220, 74, 1) 80%,
      rgba(63, 218, 216, 1) 90%,
      rgba(47, 201, 226, 1) 100%
    );
  }
  60% {
    background: linear-gradient(
      135deg,
      rgba(28, 127, 238, 1) 0%,
      rgba(95, 21, 242, 1) 10%,
      rgba(186, 12, 248, 1) 20%,
      rgba(251, 7, 217, 1) 30%,
      rgba(255, 0, 0, 1) 40%,
      rgba(255, 154, 0, 1) 50%,
      rgba(208, 222, 33, 1) 60%,
      rgba(79, 220, 74, 1) 70%,
      rgba(63, 218, 216, 1) 80%,
      rgba(47, 201, 226, 1) 90%,
      rgba(28, 127, 238, 1) 100%
    );
  }
  70% {
    background: linear-gradient(
      135deg,
      rgba(95, 21, 242, 1) 0%,
      rgba(186, 12, 248, 1) 10%,
      rgba(251, 7, 217, 1) 20%,
      rgba(255, 0, 0, 1) 30%,
      rgba(255, 154, 0, 1) 40%,
      rgba(208, 222, 33, 1) 50%,
      rgba(79, 220, 74, 1) 60%,
      rgba(63, 218, 216, 1) 70%,
      rgba(47, 201, 226, 1) 80%,
      rgba(28, 127, 238, 1) 90%,
      rgba(95, 21, 242, 1) 100%
    );
  }
  80% {
    background: linear-gradient(
      135deg,
      rgba(186, 12, 248, 1) 0%,
      rgba(251, 7, 217, 1) 10%,
      rgba(255, 0, 0, 1) 20%,
      rgba(255, 154, 0, 1) 30%,
      rgba(208, 222, 33, 1) 40%,
      rgba(79, 220, 74, 1) 50%,
      rgba(63, 218, 216, 1) 60%,
      rgba(47, 201, 226, 1) 70%,
      rgba(28, 127, 238, 1) 80%,
      rgba(95, 21, 242, 1) 90%,
      rgba(186, 12, 248, 1) 100%
    );
  }
  90% {
    background: linear-gradient(
      135deg,
      rgba(251, 7, 217, 1) 0%,
      rgba(255, 0, 0, 1) 10%,
      rgba(255, 154, 0, 1) 20%,
      rgba(208, 222, 33, 1) 30%,
      rgba(79, 220, 74, 1) 40%,
      rgba(63, 218, 216, 1) 50%,
      rgba(47, 201, 226, 1) 60%,
      rgba(28, 127, 238, 1) 70%,
      rgba(95, 21, 242, 1) 80%,
      rgba(186, 12, 248, 1) 90%,
      rgba(251, 7, 217, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      135deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
}
