/* primary: #2962FFFF -- rgba(41, 98, 255, 1) */
@mixin primary($opacity: 1) { color: rgba(41, 98, 255, $opacity); }
@mixin primary-bg($opacity: 1) { background-color: rgba(41, 98, 255, $opacity); }

/* secondary: #D500F9FF -- rgba(213, 0, 249, 1) */
@mixin secondary($opacity: 1) { color: rgba(213, 0, 249, $opacity); }
@mixin secondary-bg($opacity: 1) { background-color: rgba(213, 0, 249, $opacity); }

/* success: #21BA45FF -- rgba(33, 186, 69, 1) */
@mixin success($opacity: 1) { color: rgba(33, 186, 69, $opacity); }
@mixin success-bg($opacity: 1) { background-color: rgba(33, 186, 69, $opacity); }

/* info: #37CADDFF -- rgba(55, 202, 221, 1) */
@mixin info($opacity: 1) { color: rgba(55, 202, 221, $opacity); }
@mixin info-bg($opacity: 1) { background-color: rgba(55, 202, 221, $opacity); }

/* warning: #EF6C00FF -- rgba(239, 108, 0, 1) */
@mixin warning($opacity: 1) { color: rgba(239, 108, 0, $opacity); }
@mixin warning-bg($opacity: 1) { background-color: rgba(239, 108, 0, $opacity); }

/* error: #FF3D00FF -- rgba(255, 61, 0, 1) */
@mixin error($opacity: 1) { color: rgba(255, 61, 0, $opacity); }
@mixin error-bg($opacity: 1) { background-color: rgba(255, 61, 0, $opacity); }

/* black: #010101FF -- rgba(1, 1, 1, 1) */
@mixin black($opacity: 1) { color: rgba(1, 1, 1, $opacity); }
@mixin black-bg($opacity: 1) { background-color: rgba(1, 1, 1, $opacity); }

/* white: #FAFAFAFF -- rgba(250, 250, 250, 1) */
@mixin white($opacity: 1) { color: rgba(250, 250, 250, $opacity); }
@mixin white-bg($opacity: 1) { background-color: rgba(250, 250, 250, $opacity); }

/* gray: #616161FF -- rgba(97, 97, 97, 1) */
@mixin gray($opacity: 1) { color: rgba(97, 97, 97, $opacity); }
@mixin gray-bg($opacity: 1) { background-color: rgba(97, 97, 97, $opacity); }

/* copper: #FFDB01FF -- rgba(255, 219, 1, 1) */
@mixin copper($opacity: 1) { color: rgba(255, 219, 1, $opacity); }
@mixin copper-bg($opacity: 1) { background-color: rgba(255, 219, 1, $opacity); }
